:root {

}

* {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 20px 15px 20px 15px;
    text-align: center;
    background-color: #231942;
    color: #fff;
    font-size: 25px;
    /* overflow: hidden; */
}

.header-text {
    white-space:nowrap ;
    text-align: center;
}

.header-section-text {
    color: #231942;
    font-size: 60px;
    padding-bottom: 25px;
    text-align: center;
}

.header-section-text p {
    padding-left: 15px;
}

.avatar-photo {
    position: absolute;
    height: 25px;
    left: 170px;
    width: 25px;
}

nav {
    width: 100%;
    float: right;
    color: black;
    text-decoration: none;
}

.nav-menu {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.button {
    padding: 20px 15px 18.75px 15px;
    text-decoration: none;
    color: #ddd;
}

.nav-menu li {
    display: inline;
    text-align: center;
}
 
nav a::before {
    background-color:#333;
}

nav a:hover {
    background-color:  #be9fc4;
    color: #231942;
}

nav a:active {
    background-color: #04AA6D;
    color: white;
} 

.work h2 {
    float: left;
    padding-left: 15px;
}

.work-links {
    display: flex;
    justify-content: flex-end;
}

.work-header {
    text-align: center;
    padding: 20px;
}

.work-section {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: #9f86c0;
    border-radius: 10px;
    margin: 2px;
    background-color: #fadadd;
} 

.card h3 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card:hover {
    background-color: #be9fc4;
}

div h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 20px;
    background-color: #231942;
    color: #fff;
    width: 100%;
    min-width: 400px;
}

.card h2 {
    padding: 20px;
    color: #fff;
}

.card img {
    width: 100%;
    min-width: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contact{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px 100px 100px;
    text-align: center;
    justify-content: center;
}

.contact-deets:after {
    content: '';
    display: block;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid #9f86c0;
    margin-top: 40px;
}

.contact h4 {
    padding-bottom: 50px;
}

.big-image {
    min-width: none;
    height: max-content;
}

#about-me{
    padding: 25px 15px 25px 15px;
    line-height: 25px;
}

.about-me {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    text-align: justify;
}

.about-me:after {
    content: '';
    display: block;
    margin-left: 37%;
    margin-right: 37%;
    border: 2px solid #9f86c0;
    margin-top: 40px;
}

.contact-deets {
    padding: 20px;
}

.resume {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

footer {
    background-color: #231942;
    text-align: center;
    color: #be9fc4;
}



.about-me h2 {
    text-align: center;
}
